
body{
    margin: 0;
}

.objective-section{
    background:radial-gradient(rgba(255, 51, 51, 0.5), rgba(0, 0, 0, 1)) ;
}

.title{
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 100px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 92px;
}

.subtitle{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
}

.objective__card-container{
    width: 71.15%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.objective-card{
    width: 23.26%;
    // width: 317px;
    height: 280px;
    // background: linear-gradient( rgba(47, 46, 46, 0.5), rgba(255, 255, 255, 0));
    background: black;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objective-card img{
    margin-top: 30px;
}

.objective__card-text{
    width: 281px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.text-section{
    height: 730px;
    background: rgba(0, 0, 0, 1);
}

.text{
    width: 933px;
    color: #fff;
    margin-top: 0;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
}